* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  html,
  body {
      height: 100%;
  }

  body {
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .sectionCuboNegro{
    font-size: large;
  }

  .divCuboNegro {
    display: flex;
    flex-direction: column;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  }

  .h1CuboNegro,
  .pCuboNegro {
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
  }