* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  html,
  body {
      height: 100%;
  }

  body {
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #b11e40 0%, #fbc8d4 100%);
  }

  